* {
  box-sizing: border-box;
  /* Disable font boosting */
  max-height: 1000000px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body {
	margin: 0px;
	min-width: 150px;
	background-color: #00bb66;
}
.container {
	height: 100%;
	min-width: 150px;
	font-family: sans-serif;
	color: whitesmoke;
	background: -webkit-linear-gradient(#005952, #00bb66); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#005952, #00bb66); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#005952, #00bb66); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#005952, #00bb66); /* Standard syntax */
}
#logo {
	float: left;
}
#projectTitle {
	margin: 0px;
	font-size: 10%;
	float: left;
	line-height: 50px;
}

.header {
	width: 100%;
	height: 50px;
    background-color: #005952;
}
#footer {
	margin: auto auto auto 0px;
}
#projectTitle {
	line-height: 50px;
	font-size: 50px;
	margin-left: 10px;
}
.login {
	position: relative;
	margin: 50px auto 25px auto;
}
.loginForm {
	background-color: #5ee599;
	color: white;
	min-width: 150px;
	max-width: 400px;
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px auto 10px auto;
	padding: 20px;
	text-align: right;
}
.loginForm h1 {
	color: #005952;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5em;
	margin: 0px auto 5px auto;
}
.loginForm label {
	font-family: monospace;
	display: block;
	font-size: 1.3em;
	line-height: 1.3em;
	border: none;
}
.loginForm input {
	border: none;
	padding: 5px;
}
.loginForm input[type="text"], .loginForm input[type="password"] {
	color: #005952;
	max-width: 150px;
	line-height: 1.5em;
	margin: 10px auto 10px 5px;
	font-weight: bold;
}
.loginForm input[type="submit"] {
	margin: 10px auto 10px auto;
	font-size: 1.2em;
	color: whitesmoke;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #005952;
}
.loginForm input[type="submit"]:hover {
	pointer-events: painted;
	color: #005952;
	background-color: whitesmoke;
}
.loginForm a {
	display: block;
	text-decoration: none;
	color: inherit;
}
#error {
	color: red;
	text-align: center;
}
